*{font-family:Arial,sans-serif;margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body{background:#e3e4df;color:#444;}
button::-moz-focus-inner{border:0;padding:0;}
.clear{clear:both;}
.hidden{display:none;}
a{color:#3478e3;text-decoration:none;font-size:inherit;}
a:hover{color:#d54e21;text-decoration:underline;}
option{padding-right:10px;}
.alt{background:#eee;}
i.floatSeparator{display:block;clear:both;}
li{list-style:none;}
.nowrap{white-space:nowrap;}
.min{width:1px;}
.left{text-align:left !important;}
div.transitionable{overflow:hidden;}
div.transitionable.hidden{display:none;}
div.transitionable > table{width:100%;}



body > .wrapper{width:1052px;margin:auto;}
body > .header{position:fixed;width:100%;height:34px;top:0;font-size:12px;background:-webkit-linear-gradient(to bottom,#2f3a40,#2f3a40 96%,#1d2428);background:linear-gradient(to bottom,#2f3a40,#2f3a40 96%,#1d2428);margin-bottom:10px;color:white;border-bottom:1px solid #fff;z-index:2;}
body > .wrapper > .body{position:relative;margin:50px auto;background:white;}
body > .wrapper > .footer{padding:10px 0;font-size:12px;text-align:center;clear:both;}

/* INI-header */
.header > *{display:inline-block;height:34px;line-height:34px;padding:0 10px;}
.header > *:hover{background:rgba(255,255,255,.1);}
.header > a{text-decoration:none;color:white;}
.header > .user{position:absolute;right:0;}
/* END-header */
/* INI-featherContent */
.featherContent{float:right;padding:20px;width:740px;background:white;border-radius:4px;}
.featherContent > ul{}
.featherContent > ul > li{position:relative;list-style:none;}
.featherContent > ul > li > div.boxOptions{position:absolute;right:0;top:0;font-size:12px;}
.featherContent > ul > li > h2:first-child{margin-bottom:10px;font:20px helvetica,arial,"nimbus sans l",sans-serif;}
.featherContent > ul > li > p.desc{margin:10px 0;color:#AAA;}
.featherContent > ul > li+li{margin-top:30px;}
.featherContent > ul > li table.publisherRank{width:100%;border-collapse:collapse;}
.featherContent > ul > li table.publisherRank td{vertical-align:middle;padding:0 4px;text-align:center;}
.featherContent > ul > li table.publisherRank tbody > tr:nth-child(odd) > td{background:#e5e5e5;}
.featherContent > ul > li table.publisherRank tbody > tr > td:first-child{padding-left:0;background:none;}
.featherContent > ul > li table.publisherRank td > img{width:20px;display:block;padding:2px 0;}
.featherContent > ul > li table.publisherRank thead{font-size:11px;}
.featherContent > section + section{padding-top:20px;}
.featherContent > section p{color:#999;font-size:13px;margin-bottom:10px;}
/* END-featherContent */
/* INI-featherSidebar */
.featherSidebar{float:left;width:300px;background:#e9e9e9;padding:20px 0;background:white;border-radius:4px;}
.featherSidebar > div.block{padding:0 10px;margin-bottom:20px;}
.featherSidebar > div.block + div.block{margin-top:10px;}
.featherSidebar > div.block h3{font-weight:normal;}
.featherSidebar > div.block p{font-size:11px;}
.featherSidebar > div.block p + ul{margin-top:10px;}
.featherSidebar > div.block.mainMenu{}
.featherSidebar > div.block.mainMenu ul{}
.featherSidebar > div.block.mainMenu ul a i{display:inline-block;width:20px;text-align:center;}
.featherSidebar .widgetCalendar{width:100%;}
/* END-featherSidebar */

@media (max-width:1052px){
	body > .wrapper{width:auto;margin:auto;}
	.featherContent{width:calc(100% - 330px);margin-right:10px;}
	.featherSidebar{margin-left:10px;}
}


.draftList > li{border:1px solid #CCC;border-top:1px solid white;border-bottom:1px solid #BBB;padding:10px 20px;background:#efefef;border-radius:3px;}
.draftList > li > p{margin:5px 0 10px 0;}
.draftList > li > ul.buttonHolder{position:relative;}

/* INI-buttons */
.btn{position:relative;display:inline-block;font-size:13px !important;line-height:15px !important;border:1px solid #9f9891;padding:2px 10px;border-radius:3px;color:#555 !important;cursor:default;box-shadow:0 0 2px rgba(0,0,0,.3);outline:0;background:linear-gradient(to bottom,#fefdfc 1px,#f8f5f4 50%,#f5f1f0 50%,#ece8e5);}
.btn:hover{text-decoration:none;color:#555 !important;}
.btn:active,.btn.active{background:linear-gradient(to bottom,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);}
.btn.mini{padding:0 6px 0 6px;font-size:11px !important;}
.btn-group{font-size:0 !important;}
.btn-group.right{text-align:right;}
.btn-group .btn{border-radius:0;}
.btn-group .btn + .btn{border-left:0;}
.btn-group .btn:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.btn-group .btn:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
/* END-buttons */
/* INI-widgets */
.widgetCalendar{width:300px;margin:auto;border:4px solid #ddd;}
.widgetCalendar td{text-align:center;}
.widgetCalendar .head .control{width:10%;}
.widgetCalendar .body{table-layout:fixed;border-collapse:collapse;width:100%;}
.widgetCalendar .body td{border-top:1px solid #bbb;border-left:1px solid #bbb;height:20px;line-height:20px;font-size:12px;
background:-webkit-linear-gradient(top,#fafafa,#fafafa 1px,transparent 1px),-webkit-linear-gradient(left,#fafafa,#fafafa 1px,transparent 1px),-webkit-linear-gradient(45deg,#efefef,#d4dfe1);
background:linear-gradient(to bottom,#fafafa,#fafafa 1px,transparent 1px),linear-gradient(to right,#fafafa,#fafafa 1px,transparent 1px),linear-gradient(45deg,#efefef,#d4dfe1);
}
.widgetCalendar .body td:last-child{border-right:1px solid #bbb;}
.widgetCalendar .body tr:last-child td{border-bottom:1px solid #bbb;}
.widgetCalendar .body td.dayName,.widgetCalendar .body td.weekNumber{font-size:9px;background:white;border:0 !important;}
.widgetCalendar .body td.emptyDay{background:white;}
/* END-widgets */
/* INI-markdown-editor */
.coredown{height:300px;border-top:2px solid #aec71e;border-bottom:1px solid #DDD;vertical-align:top;font-size:0;white-space:nowrap;}
.coredown .top{height:30px;line-height:12px;vertical-align:top;text-transform:uppercase;color:#CCC;}
.coredown .content{height:270px;}
.coredown .left{display:inline-block;width:50%;height:100%;padding:8px;font-size:12px;white-space:normal;vertical-align:top;}
.coredown .left textarea{display:block;width:100%;height:100%;font-family:'Courier New',Courier,monospace;border:0;font-size:12px;white-space:normal;}
.coredown .right{display:inline-block;width:50%;height:100%;padding:8px;border-left:1px solid #DDD;font-size:12px;white-space:normal;vertical-align:top;}
@media(max-width:470px){
	.coredown .content .left{display:block;width:100%;}
	.coredown .content .right{display:none;width:100%;}
	.coredown .top .right{background:#ddd;}
	.coredown .top .left{background:transparent;}
	.coredown.showRight .content .left{display:none;width:100%;}
	.coredown.showRight .content .right{display:block;width:100%;}
	.coredown.showRight .top .right{background:transparent;}
	.coredown.showRight .top .left{background:#ddd;}
}
/* END-markdown-editor */

.input-search{position:relative;font-size:12px !important;line-height:12px !important;}
.input-search > div.input{margin-right:29px;margin-bottom:5px;line-height:16px !important;color:#777;border-left:1px solid #ababab;border-right:1px solid #ababab;border-top:1px solid #707070;border-bottom:1px solid #cecece;background:white URL(../images/inputBg.png) repeat-x;}
.input-search > div.input > input{border:0;margin:0;padding:0;width:100%;background:transparent;font-size:12px !important;}
.input-search > div.btn{position:absolute;top:0;right:0;width:30px;text-align:center;font-size:12px !important;line-height:12px !important;}
.input-search > div.btn i.icon-search{font-size:10px;position:relative;top:-1px;}

.dropdown-menu{display:none;position:absolute;width:400px;background:white;border:1px solid #aaa;z-index:100;border-radius:3px;box-shadow:0 0 2px rgba(0,0,0,.3);text-align:left;}
.dropdown-menu > li form > a{background:transparent;border:0;display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:rgb(51,51,51);white-space:nowrap;text-align:left;font-size:12px;font-family:Arial !important;}
.dropdown-menu > li form > a:hover, .dropdown-menu > li form > a:focus{color:#fff;
text-decoration:none;
background-color:rgb(0,129,194);
background-image:linear-gradient(to bottom,rgb(0,136,204),rgb(0,119,179));
background-repeat:repeat-x;
}
.dropdown-menu.padded{padding:10px;}
.dropdown-menu.padded .calendar{margin:20px 0;}
.dropdown-menu p{font-size:11px;color:#999;}
.dropdown-menu p + form{margin-top:8px;}

table.data{width:100%;border-collapse:collapse;font-size:13px;}
table.data thead{background:-webkit-linear-gradient(top,#fefdfc,#ece8e5);background:-moz-linear-gradient(top,#fefdfc,#ece8e5);background:linear-gradient(top,#fefdfc,#ece8e5);line-height:18px;}
table.data thead td{border-top:1px solid #dedede;border-bottom:1px solid #9f9891;}
table.data tr:nth-child(even){background:#EEE;}
table.data tr td{padding:0 3px;}
table.data tr td input.checkbox{}
table.data + .btn-group{margin-top:10px;}

table.form{width:100%;border-collapse:collapse;}

.btn-group + table.plain{margin-top:10px;}
table.plain{width:100%;border-collapse:collapse;font-size:12px;}
table.plain > thead{background:#93d52f;color:white;}
table.plain > thead > tr > td{padding:2px 4px;border-bottom:1px solid #999;font-weight:bold;}
table.plain > tbody{background:#f0f5e6;}
table.plain > tbody > tr > td{padding:2px 4px;border-bottom:1px solid #fff;}
table.plain td.right{text-align:right;}


#editorConstrols{z-index:20;}
.writer{position:relative;margin-top:8px;border:1px solid #CCC;background:#f9f9f9;outline:0;}
.writer .canvasControls{position:absolute;width:100%;}
.writer .canvas{background:white;margin:20px;padding:20px;box-shadow:0 2px 5px #333;outline:0;}
.writer .canvas *{position:relative;z-index:2;}
.writer .canvas .range{position:absolute;z-index:1;/*background:blue;*/}
.writer .canvas p img{width:100%;}

.userNode{position:relative;padding:18px 0;border-bottom:1px solid #DDD;min-height:60px;}
.userNode > .userAvatar{position:absolute;}
.userNode > .userAvatar img{display:block;width:40px;height:40px;box-shadow:0 0 2px rgba(0,0,0,.2);border:1px solid #ededed;}
.userNode > .userBody{margin-left:50px;}

.commentNode{border-bottom:1px solid #CCC;}
.commentNode:last-child{border-bottom:1px solid transparent;}
.commentNode .wrapper{padding:20px 0;}
.commentNode .author{color:#666;font-size:13px;}
.commentNode .link{font-size:13px;}
.commentNode .btn-group{margin:3px 0 6px 0;}
.commentNode .text{font-size:13px;margin-top:4px;color:#555;}
.commentNode.disabled{}
.commentNode.disabled .author{color:#888;}
.commentNode.disabled .text{color:#888;}








/*===INI-INPUTS===*/
div.inputText{line-height:16px;color:#777;border-left:1px solid #ababab;border-right:1px solid #ababab;border-top:1px solid #707070;border-bottom:1px solid #cecece;background:white URL(../images/inputBg.png) repeat-x;margin-bottom:5px;}
div.inputText textarea{border:0;margin:0;padding:0;width:100%;height:40px;background:URL(../images/t.gif);outline:0;}
div.inputText input{border:0;margin:0;padding:0;width:100%;outline:0;}
input.checkbox{margin:0;padding:0;position:relative;top:3px;margin-right:2px;}
input.radio{margin:0;padding:0;position:relative;top:3px;margin-right:2px;}

div.colorLegend{position:absolute;margin-top:1px;width:10px;padding:1px;border-bottom:1px solid #BBB;border-right:1px solid #BBB;}
div.colorLegend div{height:10px;}
div.colorLegendLabel{padding-left:17px;line-height:15px;}


.inputSearch > .wodInfo{top:15px;}
/*===END-INPUTS===*/

table.dataTable{width:100%;border-bottom:1px solid #c4c6c8;margin-bottom:5px;}
table.dataTable > thead > tr.dataRow{height:17px;line-height:16px;background:URL(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAARCAYAAADkIz3lAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oBGQAxMfiDo8QAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAATUlEQVQoz8XRuw3AMAhFUQhQRi6d/ceJ17AyBR+v8Aqk3Pp0l9d6i4B0zocgKCIYZGYIXgSm7v4XjIhmmJnNsKp6z6iZYXCMG4N7fxA844Uel4WWB6UAAAAASUVORK5CYII=) repeat-x;}
table.dataTable > thead > tr.dataRow > td.dataCell{font-weight:bold;color:#454545;padding:0 5px;}
table.dataTable > thead > tr.dataRow > td.dataCell:first-child{padding-left:5px;}
table.dataTable tr.dataRow{position:relative;background:white;}
table.dataTable tr.dataRow > td.dataCell{position:relative;vertical-align:middle;}
table.dataTable tr.dataRow > td.dataCell.optionNode{cursor:pointer;vertical-align:middle;white-space:nowrap;}
table.dataTable tr.dataRow > td.dataCell.optionNode:hover{color:#999;}
table.dataTable > tbody > tr.dataRow{background-color:#fff;}
table.dataTable > tbody > tr.dataRow:nth-child(even){background-color:#eee;}
table.dataTable > tbody > tr.dataRow > td.dataCell{padding:0 5px;border-left:1px dotted #949494;line-height:18px;}
table.dataTable > tbody > tr.dataRow > td.dataCell:first-child > div{position:relative;}/* Para contener infoboxs */
table.dataTable > tbody > tr.dataRow > td.dataCell:first-child{width:100%;padding:0;border:0;padding-left:22px;background-color:#eee;background-position:3px center;}
table.dataTable > tbody > tr.dataRow:nth-child(even) > td.dataCell:first-child{background-color:#ddd;}

h2.articleList_header{border-bottom:1px solid #bcbcbc;font-size:25px;padding:2px 0;margin-bottom:10px;}
h2.articleList_header > a:first-child{position:relative;top:1px;}
div.articleNode{position:relative;font-size:11px;clear:both;border-bottom:1px solid #CCC;border-top:1px solid transparent;}
div.articleNode:last-child{border-bottom:1px solid transparent;}
div.articleNode .wrapper{padding:20px 0;}
div.articleNode .btn-group{margin:3px 0 0 0;}
div.articleNode div.articleNode_avatar{position:absolute;display:none;}
div.articleNode div.articleNode_avatar img{display:block;box-shadow:0 0 2px rgba(0,0,0,.3);border:1px solid #ededed;}
div.articleNode div.content{position:relative;font-size:12px;line-height:14px;}
div.articleNode div.content .btn{color:#444 !important;}
div.articleNode ul.articleNode_tags{position:absolute;top:0;right:0;}
div.articleNode ul.articleNode_tags > li{display:inline-block;background:URL(../images/greyGradient.png) center;line-height:12px;height:12px;font-weight:bold;font-size:10px;padding:0 5px;color:#444;box-shadow:0px 1px 2px #AAA;border-radius:5px;text-shadow:#fff 0px 1px 2px;}
div.articleNode div.articleNode_stats{position:absolute;top:0;right:0;}
div.articleNode .link > a:first-child{font-weight:bold;font-size:14px;}
div.articleNode div.info{position:relative;padding-bottom:6px;}
div.articleNode div.info > div#info_userInfo{top:14px;left:20px;}
div.articleNode div.articleNode_thumb{display:table-cell;vertical-align:top;padding:2px 10px 0 0;}
div.articleNode div.articleNode_thumb > img{display:block;}
div.articleNode div.articleNode_thumb:empty{display:none;}
div.articleNode div.articleNode_text{display:table-cell;vertical-align:top;font-size:13px;overflow-x:hidden;}
div.articleNode div.articleNode_thumb:empty + div.articleNode_text{display:block;min-height:auto;}
div.articleNode.draft{color:#888;}
div.articleNode.draft a{color:#888;}
div.articleNode.draft span.draft{color:#444;}
div.articleNode.draft div.articleNode_text{color:#888;}
div.articleNode.draft div.articleNode_info{color:#888;}
div.articleNode.draft img{opacity:.4;}
div.articleNode .comments{font-size:11px;}
.comments .commentNode{margin-left:18px;color:#888;}
.comments .commentNode .wrapper{padding:10px 0;}
/*div.articleNode.draft span.draft{border-radius:3px;padding:0 10px;background:-webkit-linear-gradient(top,#eee,#ddd);background:-moz-linear-gradient(top,#eee,#ddd);background:linear-gradient(top,#eee,#ddd);border:1px solid #bbb;font-size:10px;}*/

#tagsCloud_tagList{}
#tagsCloud_tagList > div.tag{float:left;margin-right:4px;}
