html{width:100%;height:100%;}
body{width:100%;height:100%;background:-webkit-linear-gradient(top,#4475df 0%,#2d57c9 100%);background:-moz-linear-gradient(top,#4475df 0%,#2d57c9 100%);background:linear-gradient(top,#4475df 0%,#2d57c9 100%);}
*{font-family:Helvetica, Arial, sans-serif;margin:0;padding:0;}
.hidden{display:none;}

/*INI-login*/
.loginForm{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#4173dd;}
.loginForm > .userGrid{position:absolute;display:inline-block;top:25%;width:100%;height:180px;line-height:180px;text-align:center;font-size:11px;vertical-align:middle;}
.loginForm > .userGrid > .user{display:inline-block;vertical-align:middle;line-height:10px;}
.loginForm > .userGrid > .user .image{display:inline-block;background-color:white;padding:4px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);margin:0 20px;}
.loginForm > .userGrid > .user .image img{height:64px;}
.loginForm > .userGrid > .user .name{padding:6px 0;color:white;font-weight:bold;}
.loginForm > .userGrid > .user .whiteBox{width:180px;margin-top:10px;}
.loginForm > .wodContainer{width:400px;height:auto;margin:50px auto 0 auto;background:white;border-radius:3px;box-shadow:0 2px 4px rgba(0,0,0,.4);}
/*END-login*/
/*INI-whiteBox*/
.whiteBox{position:absolute;background:white;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);padding:2px;}
.whiteBox::before{content:' ';font-size:10px;position:absolute;top:-16px;left:-moz-calc(50% - 8px);left:-webkit-calc(50% - 8px);left:calc(50% - 8px);width:0;height:0;border:8px solid;border-color:transparent transparent white transparent;}
/*END-whiteBox*/
